@model KundAdminsGranssnitt.Models.VisningsSchema



@using (Html.BeginForm()) 
{
       
    <div>
        <strong>Ange filmtitel</strong>
        @Html.DropDownListFor(FilmTitel => Model.FilmTitel, new SelectList(ViewBag.lista))
        @*@Html.EditorFor(model => model.FilmTitel, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.ValidationMessageFor(model => model.FilmTitel, "", new { @class = "text-danger" })
    </div>
        

        
    <div>
        <strong>Ange salong</strong>
        @Html.EditorFor(model => model.SalongsNamn, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SalongsNamn, "", new { @class = "text-danger" })

    </div>

    <div>

        <strong>Ange datum & tid</strong>

        @Html.EditorFor(model => model.Visningstid, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Visningstid, "", new { @class = "text-danger" })


    </div>
       
            
     <input type="submit" value="Create" class="btn btn-default" />
          
 
}


